/*  your css code here. If applicable */
body{
	background-color:#cccccc;
}
li a{
	text-decoration:none;
	color:black;
	
}
li{
	list-style:none;
}
.player_one div{
   
	height:140px;
	background-color:white;
	border-radius:5px;
	border:1px solid black;
	margin:10px;
	padding:5px;
}
h1{
	text-align:center;
}
.player_two{
	text-align:center;
	width:320px;
	background-color:white;
	padding:5px;
	margin:auto;
	
}
.mp3{
	text-align:center;
	width:320px;
	background-color:white;
	padding:5px;
	margin:auto;
}
.play{
	text-align:center;
}